<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MEU PERFIL
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="ngOnInit()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="header">
    <img src="/assets/imgs/foto.jpg" width="400" height="500" />
  </div>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" size="small">
      <ion-icon name="create" (click)="alteraUsuario()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <h2>{{this.servidor.usuario.Nome}}</h2>
    <ion-item>
      <ion-label> Login: {{this.servidor.usuario.Login}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Senha: {{this.servidor.usuario.Senha}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Endereço: {{this.servidor.usuario.Endereco}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CPF: {{this.servidor.usuario.CPF}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>RG: {{this.servidor.usuario.RG}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nascimento: {{this.servidor.usuario.Nascimento}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Telefone: {{this.servidor.usuario.Telefone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Whatsapp: {{this.servidor.usuario.Whatsapp}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email: {{this.servidor.usuario.Email}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>