<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      FISIOTERAPEUTAS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add" (click)="AdicionarFisio()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-label>
    <h1>Lista de Fisios</h1>
  </ion-label>
  <ion-searchbar inputmode="numeric"></ion-searchbar>
  <ion-list *ngFor="let Fisios of Fisio; let i = index">
    <ion-row>
      <ion-col size="8">
        <ion-label>
          <h2>{{Fisios.Nome}}</h2>
          <p>Telefone: {{Fisios.Telefone}}</p>
          <p>Dias na Semana: {{Fisios.Crefito}}</p>
          <!-- <p>Valor: {{Fisios.Valor}}</p> -->
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-button fill="clear" size="small" color="light" (click)="HorarioFisio(Fisios)">
            <ion-icon name="calendar" color="primary" slot="end"></ion-icon>
          </ion-button>
          <ion-button fill="clear" size="small" color="light" (click)="AtualizaFisio(Fisios)">
            <ion-icon name="person" color="success" slot="end"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row>
         
          <ion-button fill="clear" size="small" color="light" (click)="DeletaFisio(Fisios)">
            <ion-icon name="trash" color="danger" slot="end"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>


  </ion-list>
</ion-content>