<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      EDITAR PERFIL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="header">
    <!-- <button> -->
    <img src="/assets/imgs/foto.jpg" width="100" height="100" />
    <!-- <ion-icon slot="end" name="camera"></ion-icon> -->
    <!-- </button> -->
  </div>
  <ion-card>
  <form (ngSubmit)="AlterarUsuario()">
    <ion-button icon-left expand="block" fill="solid" type="submit">
      <ion-icon name="refresh"></ion-icon>Atualizar</ion-button>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input placeholder="Digite seu nome completo" type="text" name="Nome" [(ngModel)]="usuarioLocal.Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Endereco</ion-label>
      <ion-input placeholder="Informe seu Endereço" type="text" name="Endereco" [(ngModel)]="usuarioLocal.Endereco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nascimento</ion-label>
      <ion-datetime name="nascimento" type="date" placeholder="Selecione sua data de nascimento"
        displayFormat="DD/MM/YYYY" [(ngModel)]="usuarioLocal.Nascimento"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CPF</ion-label>
      <ion-input placeholder="000.000.00-00" mask="000.000.000-00" type="text" name="CPF" [(ngModel)]="usuarioLocal.CPF"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">RG</ion-label>
      <ion-input  placeholder="000.000.00-00" mask="000.000.00-00" type="text" name="RG" [(ngModel)]="usuarioLocal.RG"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input placeholder="(000) 00000-0000" mask="(000) 00000-0000" type="text" name="Telefone"
        [(ngModel)]="usuarioLocal.Telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Whatsapp</ion-label>
      <ion-input placeholder="(000) 00000-0000" mask="(000) 00000-0000" type="text" name="Whatsapp"
        [(ngModel)]="usuarioLocal.Whatsapp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input placeholder="seuemail@provedor.com" mask="A*@A*.S*" [dropSpecialCharacters]="false" type="text"
        name="Email" [(ngModel)]="usuarioLocal.Email"></ion-input>
    </ion-item>
    <ion-title>Dados de Autenticação</ion-title>
    <ion-item>
      <ion-label position="floating">Login</ion-label>
      <ion-input  placeholder="Digite um login de usuário" type="text" name="Login" [(ngModel)]="usuarioLocal.Login"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input placeholder="Digite uma senha de 8 dígitos" type="text" name="Senha" [(ngModel)]="usuarioLocal.Senha"></ion-input>
    </ion-item>
  </form>
  </ion-card>
</ion-content>