<ion-header>
   <ion-toolbar color="light">
   <ion-buttons slot="start">
       <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      PRÉ-CADASTRO USUÁRIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center class="vertical-align-content">
   <form (ngSubmit)="InserirUsuario()">
    <ion-card>
       <ion-item>
        <ion-label floating>CPF</ion-label>
        <ion-input pattern="###.###.###-##" placeholder="Digite seu CPF" type="text" name="CPF" [(ngModel)]="usuario.CPF"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label spellcheck="true" floating>Nome</ion-label>
        <ion-input type="text" name="Nome" placeholder="Digite seu nome completo" [(ngModel)]="usuario.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label spellcheck="true" floating>Login</ion-label>
        <ion-input type="text" name="Login" placeholder="Digite um login de usuário" [(ngModel)]="usuario.login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label spellcheck="true" floating>Senha</ion-label>
        <ion-input type="text" name="Senha" placeholder="Digite uma senha de 8 dígitos" [(ngModel)]="usuario.senha"></ion-input>
      </ion-item>
   
    </ion-card>
   <ion-button  type="submit" >Enviar</ion-button>
  </form>
</ion-content>

