.vertical-align-content
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
     vertical-align: center!important;
}

ion-content {
    --background: url('/assets/imgs/fundo1.jpg') no-repeat 100% 100%;  
}

ion-input{
     --color: blue;
    --background: transparent;
}

 ion-item{
    background-color: transparent;
  }