.prompt_alert .alert-message{
	text-align: right;
}
.prompt_alert .alert-input{
	border-bottom: none!important;
    caret-color: #F58282;
}
.prompt_alert .alert-input-group:before {
    content: '#';
    display: inline-block;
    float: right;
    line-height: 3.5;
    color: black;
}
.prompt_alert .alert-input-wrapper {
    display: flex;
    padding-right: 3px;
}