<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ALUNOS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="top"  horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add" (click)="AdicionarCliente()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-label>
    <h1>Lista de Alunos</h1>
  </ion-label>
  <ion-searchbar inputmode="numeric"></ion-searchbar>
  <ion-list *ngFor="let clientes of cliente; let i = index">
    <ion-item>
      <!-- <ion-avatar slot="start"> -->
      <!-- <ion-img src="{{clientes.Foto}}"></ion-img> -->
      <!-- <ion-img src="/assets/imgs/user.png"></ion-img> -->
      <!-- </ion-avatar> -->
      <ion-label>
        <h2>{{clientes.Nome}}</h2>
        <p>Pacote: {{clientes.Periodo}}</p>
        <p>Dias na Semana: {{clientes.Aulas}}</p>
        <!-- <p>Valor: {{clientes.Valor}}</p> -->
      </ion-label>
      <ion-icon name="calendar" color="primary" (click)="HorarioCliente(clientes)" slot="end"></ion-icon>
      <ion-icon name="man" color="success" slot="end" (click)="Anaminese(clientes)"></ion-icon>
      <ion-icon name="trash" color="danger" slot="end" (click)="DeletaCliente(clientes)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>