<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Valores dos Pacotes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center class="vertical-align-content">
    <ion-card>
  <p>Frequ&ecirc;ncia por semana / valor</p>
<p style="text-align: center;">MENSALIDADES:</p>
<p>1x &ndash; R$ 120,00</p>
<p>2x &ndash; R$ 220,00</p>
<p>3x &ndash; R$ 280,00</p>
<p><strong>📍MELHOR CUSTO BENEF&Iacute;CIO, PACOTES, PODENDO TRANCAR A MATR&Iacute;CULA POR 30 DIAS.</strong></p>
<p style="text-align: center;">&nbsp;TRIMESTRAL, MENSALIDADES:</p>
<p>1x &ndash; R$ 110,00</p>
<p>2x &ndash; R$ 210,00</p>
<p>3x &ndash; R$ 270,00</p>
<p style="text-align: center;">SEMESTRAL, MENSALIDADES:</p>
<p>1x &ndash; R$ 105,00</p>
<p>2x &ndash; R$ 200,00</p>
<p>3x &ndash; R$ 260,00</p>
<p style="text-align: center;">NONAMESTRE, MENSALIDADES:</p>
<p>1x &ndash; R$ 95,00</p>
<p>2x &ndash; R$ 190,00</p>
<p>3x &ndash; R$ 250,00</p>
<p style="text-align: center;">ANUAL INDIVIDUAL OU PROMO&Ccedil;&Atilde;O COMBO*, MENSALIDADES:</p>
<p>1x &ndash; R$ 90,00</p>
<p>2x &ndash; R$ 180,00</p>
<p>3x &ndash; R$ 240,00</p>
<p>*Dois membros, enquanto ambos estiverem frequentando, permanece o valor acima para cada. Desde 08/07/2021.</p>
</ion-card>
</ion-content>
