<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      STÚDIO DE PILATES ÉPICUS
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <br />
  <ion-label>Olá {{servidor.usuario.Nome}},</ion-label>
  <br /><br /><br />
  <ion-row>
    <ion-col size="6">
      <ion-button (click)="agenda()" color="default"  expand="block" fill="solid" color="secondary">
        <ion-icon name="calendar"></ion-icon>AGENDA
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="alunos()" color="default"  expand="block" fill="solid" color="secondary">
        <ion-icon name="person"></ion-icon>ALUNOS
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button color="default"  expand="block" fill="solid" color="secondary">
        <ion-icon name="person"></ion-icon>PROFESSORES
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="pacotes()" color="default"  expand="block" fill="solid" color="secondary">
        <ion-icon name="gift"></ion-icon>PACOTES
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button color="default"  expand="block" fill="solid" color="secondary">
        <ion-icon name="card"></ion-icon>PAGAMETOS
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="default"  expand="block" fill="solid" color="secondary">
        <ion-icon name="cash"></ion-icon>SALARIOS
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>